
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background: #0f172a;
  color: white;
}


.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #020617;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.header a:hover {
  color: #38bdf8;
}

.hero {
  overflow: hidden;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}


.reveal {
  font-size: 3rem;
  transform: translateY(100%);
  animation: revealText 1s ease forwards;
}

.reveal.delay {
  font-size: 1.5rem;
  animation-delay: 0.6s;
}

@keyframes revealText {
  to {
    transform: translateY(0);
  }
}


.about {
  padding: 80px 40px;
  text-align: center;
}

.facts {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.gallery {
  padding: 80px 40px;
  text-align: center;
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.grid img:hover {
  transform: scale(1.1);
}


.contact {
  padding: 40px;
  text-align: center;
  background: #020617;
}


.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;     
  object-fit: cover;
  margin: 20px auto;
  display: block;
  border: 3px solid #38bdf8;
}

